<div>
    <h1>Detalle de Producto</h1>
    <div class="card-container">
    <div class="card">
      <h2>{{title}}</h2>
      <img src="{{thumbnail}}" alt="{{title}}">
      <p>{{description}}</p>
      <p>Precio: ${{price}}</p>
      <p>Código: {{code}}</p>
      <p>Stock: {{stock}}</p>
      <form action="/api/addToCart" method="post">
        <input type="hidden" name="productId" value="{{_id}}">
        <label for="cid">Carrito ID</label>
        <input type="number" id="cid" name="cid" required>
        <button type="submit">Agregar al carrito</button>
      </form>
    </div>
    </div>
</div>